body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #2651a8 3px solid;
  opacity: 0.8;
  font-size: 25px;
}

.navbar .navbar-brand {
  font-size: 35px;
}

#home-section {
  background: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 800px;
}

#home-section h1 {
  font-size: 4rem;
  padding-top: 3rem;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 800px;
  background: rgba(0, 0, 0, 0.3);
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .card-extras {
  background-color: #2651a8;
}

.bg-contact {
  background-color: #2651a8;
}
.bg-services {
  background-color: #2651a8;
}

.btn-background {
  background-color: #2651a8;
}

.form-bg {
  background: #2651a8;
}

#create-section {
  height: 1000px;
}

#create-section h3 {
  font-size: 50px;
}

.font {
  font-size: 27px;
}

.para {
  font-size: 25px !important;
}

#home-section .fas,
#create-section .fas {
  color: #2651a8;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#main-footer ul {
  list-style-type: none;
  text-align: center;
}

#main-footer ul a {
  color: white;
}

#explore-section .fas,
#share-section .fas {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

#share-head-section ul {
  list-style-type: none;
  font-size: 25px;
  color: #6c757d;
}

#share-head-section a {
  color: #6c757d;
}

@media (max-width: 769px) {
  #create-section {
    height: 1100px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  #create-section img {
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Extra small devices (portrait phones)*/

@media (max-width: 575px) {
  #home-section {
    background-attachment: scroll;
    background-size: 500px 650px;
    min-height: 650px;
  }

  #home-section .dark-overlay {
    min-height: 650px;
    background: rgba(0, 0, 0, 0.5);
  }

  #home-section h1 {
    font-size: 3rem;
    padding-top: 2rem;
  }

  #explore-section {
    padding-bottom: 20px !important;
  }

  #explore-section h2 {
    margin-top: 40px;
    text-align: center;
  }

  #explore-section p {
    text-align: center;
  }

  #create-section {
    height: 1500px;
    padding-top: 30px !important;
    padding-bottom: 20px !important;
  }

  #create-section img {
    height: 400px;
    margin-left: 30px;
  }
}
